<!doctype html>
<html>
<head>
	<title><%= locals.name %></title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
	<div class="row">


        <h1>Web Developer</h1>
        <h1>I am <%= locals.name %></h1>

        <div class="myself">
            <p>My program is <%= locals.program %></p>
            <p>I am <%= locals.age %> years old</p>


            <p>Introduction</p>
            <p><%= locals.aboutme %></p>
        </div>

	</div>
</body>
</html>
<footer>
	copyright Harmpreet singh Sidhu
</footer>
